<html>
<body>
  <div>
    <!--<p style='color:black'>회원 가입을 위한 링크 입니다.</p>-->
    <p style='color:black'>임시비밀번호를 발급해드립니다. 아래의 비밀번호로 로그인 후에 비밀번호 변경해주시면 될것같습니다.</p>
    <p><%= authCode %></p> 
  </div>
</body>
</html>
