<!DOCTYPE html>
<html>
<head>
    <title>join form ejs</title>
</head>
<body>
    <h1>inpout join form</h1>
    <form action='/join' method='post'>
        id:<input type='text' name='user_id'><br/>
        password:<input type='password' name='password'><br/>
        <input type='submit'>
    </form>
    <div clss='errMsg'><%= errMsg %></div>
</body>
</html>
