<!DOCTYPE html>
<html>
<head>
    <title>signup form ejs</title>
</head>
<body>
    <h1>inpout signup form</h1>
    <form action='/auth/signup' method='post'>
        id:<input type='text' name='user_id'><br/>
        password:<input type='password' name='password'><br/>
        <input type='submit'>
    </form>
</body>
</html>
