@charset "utf-8";
/* @import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap'); */
/* @import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css'); */
/*font-family: 'Quicksand', sans-serif;*/
/*font-family: 'Nanum Gothic', sans-serif;*/

/*font-face*/
@font-face {
 font-family: 'nbg';
 font-style: normal;
 font-weight: 400;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
 font-family: 'nbg_bold';
 font-style: normal;
 font-weight: 700;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

/*mrson 작업----------------------*/
:root {
  /* --lg: 1200px;
  --md: 900px;
  --sm: 500px; */
  --par-indent: 1rem;
  --par-spacing: 0.375rem;

  --color-line-main: #dadce0;
  --color-mono-main: #f8f7f7;
  --color-primary-main: #01684b;
  --color-secondary-main: #fe7a01;
  
  --font-size-sm: 0.75rem;
}
@media screen and (max-width:900px){
  html {font-size: 15.5px;}
}
@media screen and (max-width:500px){
  html {font-size: 15px;}
}
html, body, #app, #root {height:100%;}

p, a, h1, h2, h3, h4, h5, h6, span, label, select {
  transform: skew(-0.1deg);
}

/* .c-primary {color: var(--color-primary-main);}
.c-secondary {color: var(--color-secondary-main);}

.par-indent-left { padding-left: var(--par-indent);}
.par-indent-left-2x { padding-left: calc( 2 * var(--par-indent));}
.par-spacing { padding: var(--par-spacing) 0; }
.par-spacing-2p5x0 { padding: calc( 2.5 * var(--par-spacing)) 0; }
.par-spacing-before { padding-top: var(--par-spacing);}
.par-spacing-before-2p5 { padding-top: calc( 2.5 * var(--par-spacing));}
.par-spacing-after { padding-bottom: var(--par-spacing);}
.par-spacing-after-2p5 { padding-bottom: calc( 2.5 * var(--par-spacing));}
.pd-0p75 { padding: 0.75rem;}
.pd-0p625 { padding: 0.625rem;}
.mx-1 {margin:0 1rem;}
.mr-0p5 {margin-right:0.5rem;} */
/*주석 pkg-par-spacing*/
/* .m-1x0x2 { margin: 1rem 0 2rem; }
.m-1X0X3 { margin: 1rem 0 3rem; }

.m-2x0x2 { margin: 2rem 0 2rem; }
.m-1p5x0x1p5 { margin: 1.5rem 0 1.5rem; }
.mt-3 { margin-top: 3rem; }

.m-0xauto { margin: 0 auto; }
.tAlign-r { text-align: right;}
.tAlign-c { text-align: center;}
.minHgt-100vh {min-height: 100vh;}
.minHgt-100pct {min-height: 100%;}

.inlineBlock {display: inline-block;}

.flexGlow-1 {flex-grow:1;}
.wid-100pct {width:100%;} */

/* .flex {display:flex;}

.flex-left-center {
  display:flex; justify-content:flex-start; align-items:center;
}

.flex-center-center {
  display:flex; justify-content:center; align-items:center;
}

.flex-right-center {
  display:flex; justify-content:flex-end; align-items:center;
}

.flex-spabetween-center {
  display:flex; justify-content:space-between; align-items:center;
}

.flex-spaaround-center {
  display:flex; justify-content:space-around; align-items:center;
}

.flex-col-spabetween {display:flex; flex-direction:column; justify-content:space-between;}
.flex-col-spabetween-end {display:flex; flex-direction:column; justify-content:space-between; align-items:end;} */
/* 
.divider { 
  height:1px;
  background-color: var(--color-line-main);
}

.borderBottom-1pxBlack {
  border-bottom: solid 1px #000;
}

.imgAlign-a1 {
  position:absolute;
  width: 100%;
  top: 50%;left: 50%;
  transform: translate(-50%, -50%);
}

.breakDot-a1 {
  font-size:1.5rem;
  line-height:1;
  font-weight:600;
  color:#fe7a01;
  vertical-align:middle;
  margin:0 0.25rem;
}

.iconTag-count {
  font-size: 1rem;
  color: #000;
}

.scroll-y {
  overflow-y:scroll;
}

.aHref-a1 { text-decoration:underline; cursor: pointer; }
.cursor{ cursor:pointer; } */


/*보편적 스타일링 reset.css*/
*{-webkit-tap-highlight-color:none;
font-family: 'Roboto', 'Noto Sans Kr', sans-serif;}
html, body,
div, span,
dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
blockquote, p, address, pre, cite,
form, fieldset, input, textarea, select,
table, th, td {
	margin:0;
	padding:0;
}
input[type="password"]{font-family:'nbg';letter-spacing:-5px;}
input[type="password"]::placeholder{font-family:'nbg';letter-spacing:normal;}
input::placeholder{font-family:'nbg';font-weight:500;}

/* input[type="password"]{letter-spacing:-5px;}
input[type="password"]::placeholder{letter-spacing:normal;}
input::placeholder{font-weight:500;} */
h1, h2, h3, h4, h5, h6 {
	/* font-size:100%; */
	font-weight:normal;
	letter-spacing:normal;
}

fieldset, img, abbr,acronym { border:0 none; }

ol, ul { list-style:none; }

table {
	border-collapse: separate;
	border-spacing:0;
	border:0 none;
}
/* caption, th, td {
	text-align:left;
	font-weight: normal;
	border:0;
} */

address, caption, strong, em, cite {
	font-weight:normal;
	font-style:normal;
}
ins { text-decoration:none; }
del { text-decoration:line-through; }

blockquote:before, blockquote:after, q:before, q:after { content:""; }
blockquote,q { quotes:"" ""; }

/* hr { display:none; } */

/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
img, video { /*max-width:100%;*/ border:0; vertical-align:top; }
audio, canvas, video { display:inline-block; *display:inline; *zoom: 1; }
img{image-rendering:-moz-auto;/*firefox*/
image-rendering:-o-auto;/*opera*/
image-rendering:-webkit-optimize-contrast;/*webkit*/
image-rendering:auto;
-ms-interpolation-mode:nearest-neighbor;
-webkit-perspective: 1;}
* { margin:0; padding:0; border:0; outline:0; vertical-align:top; box-sizing:border-box; }
ul, ol, dl { list-style:none; }
/* a { vertical-align:top; text-decoration:none; color:inherit; cursor: pointer;} */
a { display:inherit; text-decoration:none; color:inherit; cursor: pointer;}
table { border-collapse:collapse; border-spacing:0; }
input, select, label { vertical-align:middle; }
button, input, select, textarea { font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle;font-weight:normal;letter-spacing:normal;}
button, input { line-height:normal;}
button, select { text-transform:none; }

/* select {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
    font-weight:normal;letter-spacing:normal;cursor: pointer;
		background:url(../images/main/select_arrow.png) no-repeat 95% 50%;background-size:10px 10px;
} */
/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
    display: none;
}
body {width:100%;height:100%;font-size:100%; line-height:1.2; font-weight:normal;letter-spacing:normal;-webkit-tap-highlight-color: transparent;}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance:none; }
input[type="search"] { -webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border:0; padding:0; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance:button; cursor: pointer; *overflow:visible; }
input[type="checkbox"]+label{cursor: pointer;}
textarea { overflow:auto; vertical-align:top; resize:none}

html,body{ width:100%;background-color:#fff;color:#000;overflow-x:hidden;}
address{font-style:normal;}


/* .clearfix:before{content:'';display: block;} */
.clearfix:after{content:'';display: block;clear:both;}
.border-top{border-top:calc(100vw*(1/375)) solid #e2e2e2;}

::-webkit-scrollbar-track {background-color:#fefefe;}
::-webkit-scrollbar{width:10px;}
::-webkit-scrollbar-thumb {background-color:#eee}


.mb{display:inline;}
.pb{display:block;}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.cursor-p{cursor:pointer;}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.noneScrollbar{
   -ms-overflow-style:none !important;
    scrollbar-width:none !important;
}
.noneScrollbar::-webkit-scrollbar{
  display:none !important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@MediaQuery screen and (max-width:1024px){

	.mb{display:block;}
	.pb{display:inline;}

}

/*swipers.....*/
.swiper-container{background-color:var(--color-mono-main) !important;}
.swiper-button-prev, .swiper-button-next {color:var(--color-primary-main) !important;}

.main_swiper .swiper-container{width:100%;padding:40px;}
.main_swiper .swiper-button-prev, .main_swiper .swiper-button-next{color:#707070;width:50px;height:50px;border-radius: 100%;background:#F8F7F7}
.main_swiper .swiper-button-prev:after, .main_swiper .swiper-button-next:after{font-size:17px;font-weight: bold;}
/*.main_swiper .swiper-pagination-bullet{width:70px;height:6px;border-radius: 0%;background:#f2f2f2;opacity:1;}*/
.main_swiper .swiper-pagination-bullet-active{background:#01684b;}

.bunyang_swiper .swiper-button-prev:after, .bunyang_swiper .swiper-button-next:after{font-size:0;width:16px;height:25px;}
.bunyang_swiper .swiper-button-prev:after{background:url(img/main/prev.png) no-repeat;background-size:100% 100%;}
.bunyang_swiper .swiper-button-next:after{background:url(img/main/next.png) no-repeat;background-size:100% 100%;}
.bunyang_swiper .swiper-button-prev{left:30px;}
.bunyang_swiper .swiper-button-next{right:30px;}

.img_swiper .swiper-container{width:90%;margin:25px auto 0;}
.img_swiper .swiper-button-prev:after, .img_swiper .swiper-button-next:after{font-weight:bold;}
.img_swiper .swiper-button-next{right:0;color:#2b664d;}
.img_swiper .swiper-button-prev{left:0;color:#fff;}

.tour_swiper .swiper-slide:first-child, .tour_swiper .swiper-slide:last-child {margin-left: 50px;}
.tour_swiper .swiper-button-next{right:0;}
.tour_swiper .swiper-button-prev{left:0;}
/*selects....*/
.term1{width:234px;height:35px;width:234px;height:35px;line-height: 33px;padding-left:16px;border-radius:4px;font-size:13px;color:#a3a3a3;text-align: center;border:1px solid #e4e4e4;background:url(img/main/icon_cal.png) no-repeat 198px center;
background-size:18px 18px;appearance:none;}
.mapHeaderSelect {width:110px;height:100%;font-size:17px;transform:skew(-0.1deg);}
.mapHeaderSelect .css-yk16xz-control{border:none !important;color:#ff7b01 !important;}
.mapHeaderSelect .css-yk16xz-control{border:none !important;}
.css-1pahdxg-control:hover{border:none !important;box-shadow: none !important;}


/*slick slider*/
.about.slick-slider{width:380px;margin:0 0 0 36px;}
.about .slick-prev{display:inline-block;width:35px;height:35px;left:-40px;background:url(img/member/slick_prev.png) no-repeat;background-size:100% 100%;}
.about .slick-next{display:inline-block;width:35px;height:35px;right:-28px;background:url(img/member/slick_next.png) no-repeat;background-size:100% 100%;}
.about .slick-prev:hover, .about .slick-prev:focus{background:url(img/member/slick_prev.png) no-repeat;background-size:100% 100%;}
.about .slick-next:hover, .about .slick-next:focus{background:url(img/member/slick_next.png) no-repeat;background-size:100% 100%;}
.about .slick-prev:before,.about .slick-next:before{display:none;}
.filter_slick .slick-slide{width:auto !important;}
.filter_slick .slick-next.slick-disabled:before, .filter_slick .slick-prev.slick-disabled:before{opacity:0;}
.filter_slick .slick-next.slick-disabled:before, .filter_slick .slick-prev.slick-disabled:before{opacity:0;}

.filter_slick .slick-prev:before{color:transparent;background:url(img/notice/back_btn.png) no-repeat;background-size:10px 16px;}
.filter_slick .slick-next:before{color:transparent;background:url(img/map/filter_next.png) no-repeat;background-size:10px 16px;}

/*mrson*/
.filter_slick .slick-prev, .filter_slick .slick-next {z-index:1;}
.filter_slick .slick-prev{left:0;}
.filter_slick .slick-next{right:0;}



/*data_link*/
.data_link{position:absolute;left:0;top:0;width:100%;height:100%;z-index:1;}


/*map in tab*/
/* .Tabs{padding-top:30px;} */
.nav-tabs{display:flex;justify-content: center;align-items: center;}
.nav-item{position:relative;}
.like_tab ul{margin-bottom:40px;}
.like_tab .nav-item a{position:relative;display:inline-block;font-size:18px;color:#707070;transform:skew(-0.1deg);font-weight:800;}
.like_tab .nav-item a.active{color:#4a4a4a;}
.like_tab .nav-item a.active:after{position:absolute;left:50%;transform:translateX(-50%);bottom:-10px;width:105%;height:5px;background:#01684b;display:block;content:'';}
.nav-tabs li:first-child{margin-right:24px;}
.nav-tabs li:first-child:after{position:absolute;right:-13px;top:50%;content:'';display:block;transform:translateY(-50%);width:1px; height:16.5px;background:#707070;}

.alarm_tab .nav-tabs li{margin-right:24px;}
.alarm_tab.pr .nav-tabs li.nav-item a{padding-right:25px;}
.alarm_tab .nav-tabs li:last-child{margin-right:0;}
.alarm_tab .nav-tabs li:after{position:absolute;right:-13px;top:50%;content:'';display:block;transform:translateY(-50%);width:1px; height:16.5px;background:#707070;}
.alarm_tab .nav-tabs li:last-child:after{display: none;}

/* .detail_swiper .swiper-button-prev:after, .detail_swiper .swiper-button-next:after{font-size:0;width:16px;height:25px;}
.detail_swiper .swiper-button-prev:after{background:url(img/main/prev.png) no-repeat;background-size:100% 100%;}
.detail_swiper .swiper-button-next:after{background:url(img/main/next.png) no-repeat;background-size:100% 100%;}
.detail_swiper .swiper-button-prev{left:30px;}
.detail_swiper .swiper-button-next{right:30px;} */

/* .danji_swiper .swiper-slide-active p{position:Relative;color:#01684b;font-weight:800;}
.danji_swiper .swiper-slide-active p:after{position:absolute;width:100%;height:3px;bottom:0;left:50%;transform:translateX(-50%);display:block;content:'';background:#01684b;} */


/*date_picker - 방문예약세팅*/
.date_pick .react-datepicker{position:absolute;left:0;width:300px;}

.react-datepicker__header--time {
  padding-top: 10px;
}



/*selects*/
.map_select{
  width:110px;height:100%;
  appearance:none;color:#ff7b01;font-size:17px;font-weight:800;transform:skew(-0.1deg);
}
.map_select .css-yk16xz-control{
  border:none;width:100%;background:transparent !important;
}
.css-1pahdxg-control{
  border:none !important;width:100%;background:transparent !important;
  box-shadow:none !important;
}
.css-1pahdxg-control:hover,
.css-1pahdxg-control:focus,
.css-1pahdxg-control:active{
  border:none !important;width:100%;background:transparent !important;
  box-shadow:none !important;
}
.css-1pahdxg-control:hover,
.css-1pahdxg-control:focus,
.css-1pahdxg-control:active{
  border:none;width:100%;background:transparent !important;
}
.map_select .css-tlfecz-indicatorContainer,
.map_select .css-1gtu0rj-indicatorContainer{
  color:#fe7a01;
}
.map_select .css-tlfecz-indicatorContainer svg path,
.map_select .css-1gtu0rj-indicatorContainer svg path{
  color:#fe7a01;
}
.map_select .css-1uccc91-singleValue{color:#fe7a01;}
.css-1okebmr-indicatorSeparator{display:none;}
.css-26l3qy-menu{position:relative;z-index:9;}

@media screen and (max-width:1024px){
	.main_swiper .swiper-container{width:100%;padding:0;}
	.main_swiper .swiper-button-prev, .main_swiper .swiper-button-next{width:calc(100vw*(35/428));height:calc(100vw*(35/428));}
	.main_swiper .swiper-button-prev:after, .main_swiper .swiper-button-next:after{font-size:calc(100vw*(12/428));font-weight: bold;}
	.main_swiper .swiper-pagination-bullet{width:calc(100vw*(70/428));height:calc(100vw*(6/428));}
	.main_swiper .swiper-button-prev{left:0;}
	.main_swiper .swiper-button-next{right:0;}
	.main_swiper .swiper-container-horizontal > .swiper-pagination-bullets{bottom:calc(100vw*(-10/428));}

	.bunyang_swiper .swiper-button-prev:after, .bunyang_swiper .swiper-button-next:after{font-size:0;width:16px;height:25px;}
	.bunyang_swiper .swiper-button-prev:after{background:url(img/main/prev.png) no-repeat;background-size:100% 100%;}
	.bunyang_swiper .swiper-button-next:after{background:url(img/main/next.png) no-repeat;background-size:100% 100%;}
	.bunyang_swiper .swiper-button-prev{left:30px;}
	.bunyang_swiper .swiper-button-next{right:30px;}

	.img_swiper .swiper-container{width:100%;}
	.img_swiper .swiper-button-prev:after, .img_swiper .swiper-button-next:after{width:calc(100vw*(16/428));height:calc(100vw*(25/428));font-size:0;font-weight:bold;}
	.img_swiper .swiper-button-prev:after{background:url(img/main/prev.png) no-repeat;background-size:100% 100%;}
	.img_swiper .swiper-button-next:after{background:url(img/main/next.png) no-repeat;background-size:100% 100%;}
	.img_swiper .swiper-button-next{right:calc(100vw*(10/428));color:#2b664d;}
	.img_swiper .swiper-button-prev{left:calc(100vw*(10/428));color:#fff;}

	.term1{width:calc(100vw*(179/428));height:calc(100vw*(27/428));line-height: calc(100vw*(24/428));padding-left: calc(100vw*(10/428));font-size: calc(100vw*(11/428));background:url(img/main/icon_cal.png) no-repeat calc(100vw*(155/428)) center;background-size: calc(100vw*(13/428))  calc(100vw*(13/428));appearance:none;}


  /*map in tab*/
  .nav-tabs{display:flex;justify-content: center;align-items: center;}
  .nav-item{position:relative;}
  .like_tab ul{margin-bottom:calc(100vw*(40/428));}
  .like_tab .nav-item a{position:relative;display:inline-block;font-size:calc(100vw*(15/428));color:#707070;transform:skew(-0.1deg);font-weight:800;}
  .like_tab .nav-item a.active{color:#4a4a4a;}
  .like_tab .nav-item a.active:after{position:absolute;left:50%;transform:translateX(-50%);bottom:calc(100vw*(-10/428));width:105%;height:calc(100vw*(3/428));background:#01684b;display:block;content:'';}
  .nav-tabs li:first-child{margin-right:calc(100vw*(24/428));}
  .nav-tabs li:first-child:after{position:absolute;right:calc(100vw*(-13/428));top:50%;content:'';display:block;transform:translateY(-50%);width:1px; height:calc(100vw*(15/428));background:#707070;}
  .alarm_tab .nav-tabs li{margin-right:calc(100vw*(24/428));}
  .alarm_tab.pr .nav-tabs li.nav-item a{padding-right:calc(100vw*(18/428));}
  .alarm_tab .nav-tabs li:last-child{margin-right:0;}
  .alarm_tab .nav-tabs li:after{position:absolute;right:calc(100vw*(-13/428));top:50%;content:'';display:block;transform:translateY(-50%);width:1px; height:calc(100vw*(15/428));background:#707070;}
  .alarm_tab .nav-tabs li:last-child:after{display: none;}

  .filter_slick .slick-next.slick-disabled:before, .filter_slick .slick-prev.slick-disabled:before{opacity:0;}
  .filter_slick .slick-next.slick-disabled:before, .filter_slick .slick-prev.slick-disabled:before{opacity:0;}
  .filter_slick .slick-prev{left:calc(100vw*(-15/428));top:60%;}
  .filter_slick .slick-next{right:calc(100vw*(-25/428));top:60%;}
  .filter_slick .slick-prev:before{color:transparent;background:url(img/notice/back_btn.png) no-repeat;background-size:calc(100vw*(10/428)) calc(100vw*(16/428));}
  .filter_slick .slick-next:before{color:transparent;background:url(img/map/filter_next.png) no-repeat;background-size:calc(100vw*(10/428)) calc(100vw*(16/428));}

  .form_search .tf_keyword{font-size:calc(100vw*(22/428)) !important;}
  .map_select{
    width:calc(100vw*(100/428));
    font-size:calc(100vw*(13/428));
  }
  .map_select .css-yk16xz-control{
    height:100%;
  }

  /* input password 텍스트 겹침 현상  */
  input[type="password"] {
    font-family: 'nbg';
    letter-spacing: 0;
}
}

@media screen and (max-width:600px){

  /*slick slider*/
  .about.slick-slider{width:80%;margin:0 0 0 calc(100vw*(36/428));}
  .about .slick-prev{display:inline-block;width:calc(100vw*(35/428));height:calc(100vw*(35/428));left:calc(100vw*(-40/428));background:url(img/member/slick_prev.png) no-repeat;background-size:100% 100%;}
  .about .slick-next{display:inline-block;width:calc(100vw*(35/428));height:calc(100vw*(35/428));right:calc(100vw*(-38/428));background:url(img/member/slick_next.png) no-repeat;background-size:100% 100%;}
  .about .slick-prev:hover, .about .slick-prev:focus{background:url(img/member/slick_prev.png) no-repeat;background-size:100% 100%;}
  .about .slick-next:hover, .about .slick-next:focus{background:url(img/member/slick_next.png) no-repeat;background-size:100% 100%;}
  .about .slick-prev:before,.about .slick-next:before{display:none;}

  .date_pick .react-datepicker{position:absolute;left:0;width:100%;}
  .react-calendar {
    width: 100%;
    max-width: 100%;
    background: white;
    line-height: 1.125em;
    transform:skew(-0.1deg);
  }
  .react-calendar--doubleView {
    width: 700px;
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  button.react-calendar__tile.react-calendar__month-view__days__day:before{
    position: absolute;
    width: calc(100vw*(35/428)) !important;
    height: calc(100vw*(35/428)) !important;
    display: block;
    content: '';
    border: 1px solid #bbb;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;

  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    height: 44px;
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  button.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button,
  button.react-calendar__navigation__arrow.react-calendar__navigation__next2-button{display:none;}
  button.react-calendar__navigation__arrow.react-calendar__navigation__prev-button{background:url(img/member/slick_prev.png);background-color:transparent !important;width:calc(100vw*(26/428)) !important;;height:calc(100vw*(26/428)) !important;;background-size:100% 100%;}

  button.react-calendar__navigation__arrow.react-calendar__navigation__next-button{background:url(img/member/slick_next.png);width:calc(100vw*(26/428)) !important;height:calc(100vw*(26/428)) !important;;background-size:100% 100%;}
  .react-calendar__navigation button {
    background: none;
  }
  span.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from{font-size:calc(100vw*(13/428)) !important;;font-weight:800;color:#4a4a4a;}
  button.react-calendar__navigation__label{width:calc(100vw*(150/428)) !important;;flex-grow:0 !important;}
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {

  }
  .react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background:#f8f7f7;width:100%;height:calc(100vw*(37/428)) !important;;
    line-height:calc(100vw*(24/428)) !important;;
    font-size: calc(100vw*(13/428)) !important;;
    margin-bottom:1em;
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
    font-size:calc(100vw*(13/428)) !important;; text-decoration:none;font-weight:800;
  }
  .react-calendar__month-view__weekdays__weekday abbr{
  text-decoration:none;
  }
  .react-calendar__month-view__weekdays__weekday:nth-child(6) abbr{color:blue}
  .react-calendar__month-view__weekdays__weekday:nth-child(7) abbr{color:red}

  .react-calendar__month-view__weekNumbers {
    font-weight: bold;
  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
  }
  .react-calendar__month-view__days__day--weekend {
    color: #d10000;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
    font-size:calc(100vw*(14/428)) !important;;
    height:20px;line-height:0;
  }
  button.react-calendar__tile.react-calendar__month-view__days__day{position:relative;font-size:calc(100vw*(14/428)) !important;;margin-bottom:0.5em;}
  .react-calendar__tile {
    max-width: 100%;
    text-align: center;
    padding: 0.75em 0.5em;
    background: none;
  }
  .saturday { color: rgb(0, 0, 255) !important; } .sunday { color: rgb(255, 0, 0) !important; }

  .react-calendar__tile:disabled {
    background-color: transparent;
  }
  button.react-calendar__tile.react-calendar__month-view__days__day:disabled:before{background:rgba(0,0,0,0.08);}
  .react-calendar__tile:enabled:hover:before,
  .react-calendar__tile:enabled:focus:before {
    background:#00b7843b;
  }
  .react-calendar__tile--now:before{
     background:rgb(253,242, 3, 0.2);
  }

  .react-calendar__tile--hasActive {
    background: #76baff;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }
  .react-calendar__tile--active:before {
    background: transparent;
    border:1px solid #4a4a4a !important;
  }
  .react-calendar__tile--active:before addr{
    color:#4a4a4a;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: transparent;
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }




}
